.productsContainer{
    width: 100%;
    outline: 3px solid aqua;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 25px;
}

.productTypeContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productTypeTitle{
    text-align: center;
    font-size: 48px;
}

.productTypeSmallTitle{
    text-align: center;
}

.banner{
    width: 100vw;
    height: 350px;
    background-color: #1c0a00be;
    background-attachment: fixed;
    background-position: 0 calc(-250px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.bannerContent{
    max-width: 1400px;
    height: 100%;
    outline: 3px solid aqua;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannerTitle{
    color: white;
    font-size: 54px;
}

.bannerLogo{
    height: 500px;
}

@media screen and (max-width: 1420px) {
    .bannerContent{
        margin: 0 30px;
    }
}
